body {
    font-family: 'Heebo';
    background-color: #FBF8F4;
    font-size: 1rem;
}
.pos-f-t {
    top: 0;
    visibility: hidden;
    position: relative;
    justify-content: center;
}
@media (max-width: 600px) {
    .pos-f-t {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        visibility: visible;
        align-items: center;
        background-color: rgba(181,181,181, 0.2)
    }
}
div ul {
    list-style: none;
    padding: 0;
}
nav {
    text-transform: uppercase;
    background: #FBF8F4;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    padding: 20px 20px;
}
@media (max-width: 600px) {
    nav{
        font-size: 12px;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .res-hide {
        visibility: hidden;
    }
}
.hover {
    visibility: hidden;
}
@media (max-width: 600px) {
    .hover {
        visibility: visible;
    }
}
@media (max-width: 600px) {
    .navbar-toggler-icon {
        visibility: visible;
    }
}
@media (max-width: 600px) {
.r-border {
    padding: 0 0 2px 0;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    width: 200px;
    }
}
@media (max-width: 800px) {
    .r-border {
        padding: 0 0 2px 0;
        border-bottom: 1px solid rgba(0,0,0, 0.2);
        width: 200px;
    }
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around
}
nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    font-size: 20px;
}
footer {
    background: #FBF8F4;
    font-size: 20px;
    font-weight: 1000;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    padding: 20px 20px;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around
}
footer li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer a {
    color: black;
    text-decoration: none;
}
div a {
    color: black;
    text-decoration: none;
}

nav a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
#mylogo {
    padding: 0 2px 0 2px;
}
.logo {
    font-weight: 800;
}
.istyle {

    background-image: -webkit-linear-gradient(#e83557 50%, black 50%);
    background-repeat: repeat;
    /* background-position: 0 0; */
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: welcome 3s linear infinite;
    animation: welcome 3s linear linear infinite;
}
@-webkit-keyframes welcome {
    100% {
      background-position: 0 -50px;
    }
  }
  
  @keyframes welcome {
    100% {
      background-position: 0 -50px;
    }
  }

@media (max-width: 600px) {
    .accordion {
        display: flex;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .card {
        display: flex;
        width: 100%;
    }
}
.me{
    font-size:18px;
    color: black;
}
.project-header {
    background-color: #FBF8F4;
    color: black;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10 0 19px 0;
}
.card-header {
    background-color: #FBF8F4;
}
.card-header:hover{
    color: #FBF8F4;
    background-color: black;
}
#hover-text:hover {
    color: #FBF8F4;
    background-color: black;
}
#container {
    margin-left:none;
}
#inner-acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#icon-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}
.icon-align2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    font-size: 18px;
}
.icon-align3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    border-top: 1px solid rgba(0,0,0,.125);

}
#card-body {
    max-width: auto;
    background-color: #FBF8F4;
}
@media (max-width: 600px) {
    .card-body {
        display: flex;
        width: 100%;
    }
}
.istyle {
    font-size: 18px; 
    color:black;
}
.lead-container{
    display: flex;
    height: 800px;
    box-shadow: inset 0 0 0 1000px rgba(#FBF8F4,.2);
    flex-wrap: nowrap;
}
@media (max-width: 600px) {
    .lead-container {
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
 .lead-item {
    border-top: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .lead-item {
        justify-content: center;
        align-items: center;
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#map {
    width: 100%;
    height: 800px;
}
@media (max-width: 600px) {
    #map {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.lead-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hometown {
    background-image: url('../images/HometownMap.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #e83557;

}
#lead-text {
    font-size: 20px;
    color: black;
}

.current {
    display: flex;
    float: left;
    height: 400px;
    background-image: url('https://user-images.githubusercontent.com/25868208/43862212-13965f68-9b27-11e8-9bbb-cbf58f77c7e0.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: -3;
}
@media (max-width: 600px) {
    .current {
        width: 100%;
        height: auto;
    }
}
.ev {
    display: flex;
    float: left;
    height: 400px;
    background-image: url('https://media.git.generalassemb.ly/user/10830/files/afd61706-9b27-11e8-9ce6-f8b5ab7f5411');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
@media (max-width: 600px) {
    .ev {
        width: 100%;
        height: auto;
    }
}
.dcfc {
    display: flex;
    float: left;
    height: 400px;
    background-image: url('https://media.git.generalassemb.ly/user/10830/files/c0a3af32-9b25-11e8-8ffb-e3c2adf09cdc');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
@media (max-width: 600px) {
    .dcfc {
        width: 100%;
        height: auto;
    }
}
.app {
    font-family: 'Heebo';
    font-size: 0.5em;
    text-shadow: 1px 1px 1px white, 2px 2px 3px #e83557;

}
#apptitle {
    width: 100%;
    font-family: 'Heebo';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
#evtitle {
    font-family: 'Heebo';
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: center;

}
.project-link {
    display: inline-block;
    border: 1px solid black;
    width: auto;
}
.banner {
    font-family: 'Heebo';
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    align-items: center;
}
.banner {
    font-family: 'Heebo';
    width: 100%;
    font-size: 50px;
    text-transform: uppercase;
    align-items: center;
}
@media (max-width: 800px) {
    .banner {
        font-family: 'Heebo';
        width: 100%;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }
}
.info {
    width: 100%;
}
@media (max-width: 600px) {
    .info {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .info {
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
}
#acc-butn {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.card-header:active{
    color: #FBF8F4;
}
#acc-butn:hover{
    color: #FBF8F4;

}
#acc-butn:active {
    text-decoration: none;
    color:black;
}
#acc-butn:visited {
    text-decoration: none;
    color:black;
}
.title {
    width: 25%;
    background-color: black;
    z-index: 2;
}
footer {
    background-color: rgba(181,181,181, 0.2)
}
#body {
    width: 100%;
    height: 100%;
    background: #FBF8F4;
    overflow: hidden;
  }

  
.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
  
.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: black;
    font-family: 'Heebo';
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}
  
.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}
  
.crawl > .scroll-title {
    font-size: 90%;
    text-align: center;
}
  
.crawl > .scroll-title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}
  
@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


